form {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  .col-2{
      margin-left: 12%;
      margin-bottom: 12%;
  }
  
  .custom-radio {
    display: flex;
  }