<div class="row">
    <div class="col-sm-12">
      
    </div>
  </div>
  <section id="ngx">
      <div class="card card-title text-center"><h5>BEHAVIOUR PATTERNS</h5> </div>
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <form #workForm="ngForm" class="editForm" novalidate>
          <aw-wizard #wizard [navBarLayout]="'large-filled-symbols'">

            <aw-wizard-step
             [canEnter] ="true"
              [canEnter]="true" [navigationSymbol]="{ symbol: '24' }"
            >
           
              <h4 class="head text-center">Engages in stereotyped and repetitive motor
                mannerisms</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                        <input
                          type="radio"
                          #work
                          required
                          [(ngModel)]="value"
                          id="customRadioInline3"
                          checked
                          name="work"
                          class="form-check-input"
                          [value]="5"
                        />
                        <label
                          class="custom-control-label"
                          for="customRadioInline3"
                          >Always</label
                        >
                      </div>
                    
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                 style="margin-right: 0.5rem;"  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"
                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()" 
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            
            </aw-wizard-step>
            <aw-wizard-step
           [canEnter] ="true"
              [canEnter]="true" [navigationSymbol]="{ symbol: '25' }"
            >
            
              <h4 class="head text-center"> Shows attachment to inanimate objects</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                        <input
                          type="radio"
                          #work
                          required
                          [(ngModel)]="value"
                          id="customRadioInline3"
                          checked
                          name="work"
                          class="form-check-input"
                          [value]="5"
                        />
                        <label
                          class="custom-control-label"
                          for="customRadioInline3"
                          >Always</label
                        >
                      </div>
                    
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                 style="margin-right: 0.5rem;"  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"
                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()" 
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
           
            </aw-wizard-step>
            <aw-wizard-step
             [canEnter] ="true"
              [canEnter]="true" [navigationSymbol]="{ symbol: '26' }"
            >
            
              <h4 class="head text-center">Shows hyperactivity/ restlessness</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                        <input
                          type="radio"
                          #work
                          required
                          [(ngModel)]="value"
                          id="customRadioInline3"
                          checked
                          name="work"
                          class="form-check-input"
                          [value]="5"
                        />
                        <label
                          class="custom-control-label"
                          for="customRadioInline3"
                          >Always</label
                        >
                      </div>
                    
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                 style="margin-right: 0.5rem;"  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"
                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()" 
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            
            </aw-wizard-step>
            <aw-wizard-step
             [canEnter] ="true"
              [canEnter]="true" [navigationSymbol]="{ symbol: '27' }"
            >
            
              <h4 class="head text-center">Exhibits aggressive behavior</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                        <input
                          type="radio"
                          #work
                          required
                          [(ngModel)]="value"
                          id="customRadioInline3"
                          checked
                          name="work"
                          class="form-check-input"
                          [value]="5"
                        />
                        <label
                          class="custom-control-label"
                          for="customRadioInline3"
                          >Always</label
                        >
                      </div>
                    
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                 style="margin-right: 0.5rem;"  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"
                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()" 
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            
            </aw-wizard-step>
            <aw-wizard-step
           [canEnter] ="true"
              [canEnter]="true" [navigationSymbol]="{ symbol: '28' }"
            >
           
              <h4 class="head text-center">Throws temper tantrums</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                        <input
                          type="radio"
                          #work
                          required
                          [(ngModel)]="value"
                          id="customRadioInline3"
                          checked
                          name="work"
                          class="form-check-input"
                          [value]="5"
                        />
                        <label
                          class="custom-control-label"
                          for="customRadioInline3"
                          >Always</label
                        >
                      </div>
                    
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                 style="margin-right: 0.5rem;"  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"
                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()" 
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
           
            </aw-wizard-step>
            <aw-wizard-step
             [canEnter] ="true"
              [canEnter]="true" [navigationSymbol]="{ symbol: '29' }"
            >
           
              <h4 class="head text-center"> Engages in self-injurious behavior</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                        <input
                          type="radio"
                          #work
                          required
                          [(ngModel)]="value"
                          id="customRadioInline3"
                          checked
                          name="work"
                          class="form-check-input"
                          [value]="5"
                        />
                        <label
                          class="custom-control-label"
                          for="customRadioInline3"
                          >Always</label
                        >
                      </div>
                    
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                 style="margin-right: 0.5rem;"  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"
                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()" 
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
           
            </aw-wizard-step>
            <aw-wizard-step
              [canEnter] ="true"
              [canEnter]="true" [navigationSymbol]="{ symbol: '30' }"
            >
           
              <h4 class="head text-center">Insists on sameness</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                        <input
                          type="radio"
                          #work
                          required
                          [(ngModel)]="value"
                          id="customRadioInline3"
                          checked
                          name="work"
                          class="form-check-input"
                          [value]="5"
                        />
                        <label
                          class="custom-control-label"
                          for="customRadioInline3"
                          >Always</label
                        >
                      </div>
                    
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                 style="margin-right: 0.5rem;"  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"
                  type="button"
                  class="btn btn-info"
                  routerLink="/assessments/assessment5"
                  [disabled]="!workForm.valid"
                  (click)="increment()"
                  (click)="PostScore()"  
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            
            </aw-wizard-step>
          </aw-wizard>
        </form>
        </div>
      </div>
    </div>
  </section>
  