form {
  display: flex;
  flex-direction: column;
  justify-content: c;
  flex-wrap: wrap;
}
.col-2 {
  margin-left: 12%;
  // margin-bottom: 12%;
}

.custom-radio {
  display: flex;
}
.card {
  margin-top: 5rem;
  padding-bottom: 10%;
}
.card-title {
  padding-bottom: 1rem;
  margin-top: 2rem;
  background-color: rgb(54, 125, 231);
  
  h5{
    color: rgb(240, 247, 247);
    margin-top: 1rem;
  }
  
  
}input[type="radio"]{
  padding-left: 0.5rem;
}
