<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div>
              <div class="my-auto">
                <div>
                  <h5 class="text-primary">Register Here!</h5>
                  <p class="text-muted">Register Special Need children </p>
                </div>
                <!-- <button class="btn btn-outline-danger" (click)="therapist()">Therapist Login</button> -->

                <div class="mt-4">
                  <form>
                    <div class="mb-3">
                      <label for="name">Child Name</label>
                      <input type="text" class="form-control" id="name" formControlName="name"
                        placeholder="Enter child Name" />

                    </div>
                    <div class="mb-3">
                      <label for="dob">Date of Birth</label>
                      <input type="date" class="form-control" formControlName="dob"
                        placeholder="Enter your child Date of Birth" aria-label="dob" aria-describedby="dob-addon" />

                    </div>
                    <div class="mb-3">
                      <label for="username">Child Name</label>
                      <input type="text" class="form-control" id="name" formControlName="name"
                        placeholder="Enter a user Name" />

                    </div>
                    <div class="mb-3">
                      <label for="relationType" class="col-md-4 col-form-label">Relationship with Child</label>
                      
                        <select formControlName="relationType" class="col-md-4 col-form-label" id="relationType"
                          class="form-select" ngDefaultControl (change)="changeRelation($event)">
                          <option value="null" disabled="true" [selected]="true">
                            Select Relationship
                          </option>
                          <option class="dropdown-item" *ngFor="let relation of relationship">
                            {{ relation }}
                          </option>
                        </select>

                      </div>
                   

                    <div class=" mb-3">

                      <label for="email" class="col-md-4 col-form-label">Email</label>
                      <div class="col-md-8"></div>
                        <input type="email" formControlName="email" class="form-control" id="email"
                          placeholder="Email" />




                      </div>
                    
                    <div class=" mb-3">

                      <label for="mobileNumber" class="col-md-4 col-form-label">Mobile Number</label>
                      
                        <input type="text" formControlName="mobileNumber" class="form-control" id="mobileNumber"
                          placeholder="Enter Mobile Number" />




                      
                    </div>

                    <div class="mb-3">
                      <label class="form-label" for="customFile">Uplaod Medical reports</label>
                      <input type="file" class="form-control" id="customFile" />
                    </div>
                   

                  
                  <div class="mb-3">
                    <label for="relationType" class="col-md-4 col-form-label">Type  Section  </label>
                    
                      <select formControlName="relationType" class="col-md-4 col-form-label" id="relationType"
                        class="form-select" ngDefaultControl (change)="changeRelation($event)">
                        <option value="null" disabled="true" [selected]="true">
                          Select Session
                        </option>
                        <option class="dropdown-item" *ngFor="let relation of relationship">
                          {{ relation }}
                        </option>
                      </select>

                    </div>
                  
                  <div class="mb-3">
                    <label for="relationType" class="col-md-4 col-form-label">Payment Section</label>
                    
                      <select formControlName="relationType" class="col-md-4 col-form-label" id="relationType"
                        class="form-select" ngDefaultControl (change)="changeRelation($event)">
                        <option value="null" disabled="true" [selected]="true">
                          Select Payment status
                        </option>
                        <option class="dropdown-item" *ngFor="let relation of relationship">
                          {{ relation }}
                        </option>
                      </select>

                    </div>




              

                    <div class="mt-3 d-grid">
                      <button class="btn btn-primary btn-block" type="submit">
                       Register
                      </button>
                    </div>

                    <!-- 
                            <div class="mt-4 text-center">
                                <h5 class="font-size-14 mb-3">Sign in with</h5>

                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="javascript::void()"
                                            class="social-list-item bg-primary text-white border-primary">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript::void()"
                                            class="social-list-item bg-info text-white border-info">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript::void()"
                                            class="social-list-item bg-danger text-white border-danger">
                                            <i class="mdi mdi-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>