<!-- <div class="container-fluid">


     start page title
     <app-page-title
      title="Filter"
      [breadcrumbItems]="breadCrumbItems"
    ></app-page-title>
   
  
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Filter Result</h4>
          <p class="card-title-desc mb-3">
            Use the dropdown below to filter Doctors by Location
          </p>
          <div class="">
            <div class="btn-group me-1 mt-2" ngbDropdown>
              <div>
                <select
                  class="form-select"
                  ngModel="selectedLocation"
                  ngDefaultControl
                  (change)="locationFilter()"
                >
                  <option
                    value="undefined"
                    class="dropdown-item"
                    selected
                    disabled
                  >
                    Select nearby location
                  </option>
                  <option class="dropdown-item" *ngFor="let item of dropDownItem">
                    {{ item }}
                  </option>
                </select>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
   
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of doctors">
        <div class="card">
          <div class="bg-primary bg-soft">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-3">
                  <h5 class="text-primary">Take your appointment now!</h5>
                  <p>Skote Dashboard</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img
                  src="assets/images/profile-img.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-sm-4">
                <div class="avatar-md profile-user-wid mb-4">
                  <img
                    src="assets/images/users/avatar-1.jpg"
                    alt=""
                    class="img-thumbnail rounded-circle"
                  />
                </div>
                <h5 class="font-size-15 text-truncate">
                  {{ item.firstName }} {{ item.lastName }}
                </h5>
                <p class="text-muted mb-0 text-truncate">
                  {{ item.specialist }}
                </p>
              </div>
  
              <div class="col-sm-8">
                <div class="pt-4">
                  <div class="row">
                    <div class="col-6">
                      <h5 class="font-size-15 text-truncate">
                        {{ item.experience }} years
                      </h5>
                      <p class="text-muted mb-0">Experience</p>
                    </div>
                    <div class="col-6">
                      <h5 class="font-size-15 text-truncate">{{ item.about }}</h5>
                      <p class="text-muted mb-0">Bio</p>
                    </div>
                  </div>
                  <div class="mt-4">
                    <a href="javascript: void(0);" class="btn btn-primary btn-sm"
                      >Book Now <i class="mdi mdi-arrow-right ms-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
   -->

<div class="container-fluid">
  <app-page-title
    title="Therapists"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div></div>
            </div>

            <div class="col-md-6">
              <div class="form-inline float-md-right">
                <div class="search-box ml-5">
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control rounded"
                      (input)="searchFilter($event)"
                      placeholder="Enter your location "
                    />
                    <i class="mdi mdi-magnify search-icon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-xl-5" *ngFor="let therapist of therapist">
              <div class="card overflow-hidden">
                <div class="bg-primary bg-soft">
                  <div class="row">
                    <div class="col-7">
                      <div class="text-primary p-3">
                        <h5 class="text-primary">Take your appointment now</h5>
                      </div>
                    </div>
                    <div class="col-5 align-self-end">
                      <img
                        src="assets/images/profile-img.png"
                        alt=""
                        class="img-fluid"
                      />
                    </div>
                  </div>
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="avatar-md profile-user-wid mb-4">
                        <img
                          src="{{ therapist.imagePath }}"
                          alt=""
                          class="img-thumbnail rounded-circle"
                        />
                      </div>
                      <h5 class="font-size-15 text-truncate">
                        {{ therapist.therapistName }}
                      </h5>
                      <p class="text-muted mb-0 text-truncate">
                        {{ therapist.specialization }}
                      </p>
                    </div>

                    <div class="col-sm-8">
                      <div class="pt-4">
                        <div class="row">
                          <div class="col-6">
                            <h5 class="font-size-15">
                              Experience: {{ therapist.experience }} Years
                            </h5>
                            <!-- <p class="text-muted mb-0">Experience: {{therapist.qualification}} </p> -->
                          </div>
                        </div>
                        <div class="mt-4">
                          <button
                            href=""
                            class="btn btn-primary btn-sm"
                            (click)="
                              custom(
                                therapist._id,
                                therapist.therapistName,
                                email,
                                patientName,
                                firstName,
                                lastName,
                                
                                age,
                                userId,
                                mobileNumber
                              )
                            "
                          >
                            Book now <i class="mdi mdi-arrow-right ms-1"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
