<div class="login-content wrapper">
  <div class="card">
    <div class="card-body">
      <div class="login-content wrapper">
        <form [formGroup]="form" (ngSubmit)="toUpdate()">
          <h1 class="title">Change password</h1>

          <div class="input-div one">
            <div class="div">
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
                placeholder="Password"
                formControlName="password"
                minlength="8"
              />
              <div class="form-control-feedback" *ngIf="form.controls['password'].errors">
                <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                  *ngIf="form.controls['password'].errors.required && checkSubmitStatus">
                  New Password is required
                </p>
                <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                  *ngIf="form.controls['password'].errors.pattern  && checkSubmitStatus">
                  Password between 8 and 20 characters; must contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character, but cannot contain whitespace.
                </p>
              </div>
              <br />
              <br />
            </div>
          </div>
          <div class="input-div one">
            <div class="div">
              <input
                type="password"
                class="form-control"
                [(ngModel)]="confirmPassword"
                placeholder="Confirm password"
                name="confirm"
                formControlName="confirmPassword"
              />
              <br />
              <br />
            </div>
          </div>

          <input type="submit" class="btn btn-outline-info" value="Update Password" />
        </form>
      </div>
    </div>
  </div>
</div>
