<h2 class="text-center Display 3"><ul>{{title}}</ul></h2>
<div *ngFor="let user of activities" >

 
    <video width="400" (playing)="onPlayingVideo($event)" poster="assets/images/auticare-logo.png" controlsList="nodownload"  controls>
        <source src="{{user?.activityPath}}"  type="video/mp4">
        <source  src="{{user?.activityPath}}"  type="video/ogg">
       
        Your browser does not support HTML5 video.
      </video>
      <h3>Description: {{user.activityName}}</h3>
      <h3>Degree of Autism: {{user.typeOfAutism}}</h3>
      <br/>

</div>
<div class="row" a routerLink="/home/pricing">
  <h5>
    Please Use our Premium Membership for playing this activities
  </h5>

  <video width="400"  poster="https://static.thenounproject.com/png/556246-200.png" controlsList="nodownload"  controls>
    <source src=""  type="video/mp4">
    <source  src=""  type="video/ogg">
   
    Your browser does not support HTML5 video.
  </video>
</div>