<div class="card">
    <div class="wrapper">
      <div class="card-header">
        <div class="input-group input-group-sm" style="width: 150px;">
  
          
          
        </div>
       
        </div>
<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
               
                <th>Name</th>
                <th>Specialization</th>
                
                <th>child name</th>
                <th>age</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pp of scores">
              
                <td>{{pp.therapistName}}</td>
                <td>{{pp.firstName}} {{pp.lastName}}</td>
                
                <td>{{pp.patientName}}</td>
               <td>{{pp.age}}</td>
               <td>
                   

               </td>
                
            </tr>
            

        </tbody>
    </table>
</div>
<!-- /.card-body -->

</div>
</div>