<div class="row">
  <div class="col-sm-12"></div>
</div>

<div class="card card-title text-center">
  <h5>COGNITIVE COMPONENT</h5>
</div>
<section id="ngx">
  <div class="card">
    <div class="card-content">
      <div class="card-body">

        <aw-wizard #wizard [navBarLayout]="'large-filled-symbols'">

          <aw-wizard-step [canEnter]="true" [canEnter]="true" [navigationSymbol]="{ symbol: '37' }">
            <form #workForm="ngForm" class="editForm" novalidate>
              <h4 class="head text-center">Has ‘savant’ ability</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline1" name="work"
                        class="form-check-input" value="1" />
                      <label class="custom-control-label" for="customRadioInline1">Rarely</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline2" name="work"
                        class="form-check-input" value="2" />
                      <label class="custom-control-label" for="customRadioInline2">Sometimes</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="3" />
                      <label class="custom-control-label" for="customRadioInline3">Frequently</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="4" />
                      <label class="custom-control-label" for="customRadioInline3">Mostly</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="5" />
                      <label class="custom-control-label" for="customRadioInline3">Always</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary"
                  style="margin-right: 0.5rem"
                  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button uiSref="address" type="button" class="btn btn-info" (click)="increment()"
                  [disabled]="!workForm.valid" awNextStep>
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </form>
          </aw-wizard-step>


          <aw-wizard-step [canEnter]="true" [canEnter]="true" [navigationSymbol]="{ symbol: '38' }">
            <form #workForm="ngForm" class="editForm" novalidate>
              <h4 class="head text-center">
                Inconsistent attention and concentration
              </h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline1" name="work"
                        class="form-check-input" value="1" />
                      <label class="custom-control-label" for="customRadioInline1">Rarely</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline2" name="work"
                        class="form-check-input" value="2" />
                      <label class="custom-control-label" for="customRadioInline2">Sometimes</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="3" />
                      <label class="custom-control-label" for="customRadioInline3">Frequently</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="4" />
                      <label class="custom-control-label" for="customRadioInline3">Mostly</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="5" />
                      <label class="custom-control-label" for="customRadioInline3">Always</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                    uiSref="personal"
                    type="button"
                    class="btn btn-secondary mr-1"
                    style="margin-right: 0.5rem"
                    awPreviousStep
                  >
                    <span style="margin-right: 10px">
                      <i class="ft-chevron-left"></i>
                    </span>
                    Previous
                  </button> -->
                <button uiSref="address" type="button" class="btn btn-info" (click)="increment()"
                  [disabled]="!workForm.valid" awNextStep>
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </form>
          </aw-wizard-step>


          <aw-wizard-step [canEnter]="true" [canEnter]="true" [navigationSymbol]="{ symbol: '39' }">
            <form #workForm="ngForm" class="editForm" novalidate>

              <h4 class="head text-center">Shows delay in responding</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline1" name="work"
                        class="form-check-input" value="1" />
                      <label class="custom-control-label" for="customRadioInline1">Rarely</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline2" name="work"
                        class="form-check-input" value="2" />
                      <label class="custom-control-label" for="customRadioInline2">Sometimes</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="3" />
                      <label class="custom-control-label" for="customRadioInline3">Frequently</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="4" />
                      <label class="custom-control-label" for="customRadioInline3">Mostly</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="5" />
                      <label class="custom-control-label" for="customRadioInline3">Always</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                    uiSref="personal"
                    type="button"
                    class="btn btn-secondary mr-1"
                    style="margin-right: 0.5rem"
                    awPreviousStep
                  >
                    <span style="margin-right: 10px">
                      <i class="ft-chevron-left"></i>
                    </span>
                    Previous
                  </button> -->
                <button uiSref="address" type="button" class="btn btn-info" (click)="increment()"
                  [disabled]="!workForm.valid" awNextStep>
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>

            </form>
          </aw-wizard-step>

          <aw-wizard-step [canEnter]="true" [canEnter]="true" [navigationSymbol]="{ symbol: '40' }">
            <form #workForm="ngForm" class="editForm" novalidate>
              <h4 class="head text-center">
                Has unusual memory of some kind
              </h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline1" name="work"
                        class="form-check-input" value="1" />
                      <label class="custom-control-label" for="customRadioInline1">Rarely</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline2" name="work"
                        class="form-check-input" value="2" />
                      <label class="custom-control-label" for="customRadioInline2">Sometimes</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="3" />
                      <label class="custom-control-label" for="customRadioInline3">Frequently</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="4" />
                      <label class="custom-control-label" for="customRadioInline3">Mostly</label>
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input type="radio" #work required [(ngModel)]="value" id="customRadioInline3" checked name="work"
                        class="form-check-input" value="5" />
                      <label class="custom-control-label" for="customRadioInline3">Always</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                    uiSref="personal"
                    type="button"
                    class="btn btn-secondary mr-1"
                    style="margin-right: 0.5rem"
                    awPreviousStep
                  >
                    <span style="margin-right: 10px">
                      <i class="ft-chevron-left"></i>
                    </span>
                    Previous
                  </button> -->
                <button uiSref="address" type="button" class="btn btn-info" (click)="increment()" (click)="PostScore()"
                  (click)="actionMethod($event)" (click)="ScoreApi(
                      patientName,
                      age,
                      userId
                    )" routerLink="/assessments/result" awNextStep>
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>

              </div>
            </form>

          </aw-wizard-step>

        </aw-wizard>

      </div>

    </div>
  </div>
</section>