<div class="login-content wrapper">
    <div class="card">
        <div class="card-body">
          
              <br>
              <br>

                <form #form='ngForm' (ngSubmit)="otpPut()">

                    <h2 class="title">Enter your Email ID to Send OTP</h2>

                    <div class="input-div one">
                      
                        <div class="div">
                            <input type="text" class="form-control" placeholder="Enter your email" name="email" [(ngModel)]="email">
                            <br>
                            <br>


                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-secondary" value="Submit">


                </form>
            </div>
        </div>
    </div>
