<div class="page-body">
  <div class="row">
 
    <div class="col-sm-12">
      <app-question-assement1></app-question-assement1>
    </div>
    <div class="col-sm-12">
      <app-question-assement2></app-question-assement2>
    </div>
    <div class="col-sm-12">
      <app-question-assement3></app-question-assement3>
    </div>
    <div class="col-sm-12">
      <app-question-assement4></app-question-assement4>
    </div>
    <div class="col-sm-12">
      <app-question-assement5></app-question-assement5>
    </div>
    <div class="col-sm-12">
      <app-question-assement6></app-question-assement6>
    </div>
  </div>
</div>