
<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" style="height: 80%;" src="assets/images/cognitive.png" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'Cognitive' }" class="btn btn-primary d-flex justify-content-center">Cognitive Skill</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top"  src="assets/images/92395-play-human-photography-teamwork-behavior-child.png" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'Social' }" class="btn btn-primary d-flex justify-content-center">Social Skill</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top"  src="assets/images/brush.jpg" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'self Care' }" class="btn btn-primary d-flex justify-content-center">self Care Skill</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" style="height: 83%;" src="assets/images/behivour1.jpg" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'Behavioral' }"  class="btn btn-primary d-flex justify-content-center">Behavioral Skill</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" style="height: 83%;" src="assets/images/senseory.jpg" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'Sensory Skill' }" class="btn btn-primary d-flex justify-content-center">Sensory Skill</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" style="height: 73%;" src="assets/images/image3.png" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'Speech & Language' }" class="btn btn-primary d-flex justify-content-center">Speech & Language Skill</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" style="height: 73%;" src="assets/images/creative_banner_new.png" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'Creativity & Imagination' }" class="btn btn-primary d-flex justify-content-center">Creativity & Imagination Skill</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" style="height: 73%;" src="assets/images/plate.jpg" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'Daily Life' }" class="btn btn-primary d-flex justify-content-center">Daily Life  Skill</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" style="height: 73%;" src="assets/images/essex_icons_speech_language_therapy_09.01.18_LP.png" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'Pragmatic' }" class="btn btn-primary d-flex justify-content-center">Pragmatic Skill</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" style="height: 73%;" src="assets/images/craft.jpg" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'Vocational' }" class="btn btn-primary d-flex justify-content-center">Vocational Skill</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" style="height: 73%;" src="assets/images/physical.png" alt="Card image cap">
    <div class="card-body">
     
      <a routerLink="/assessments/skill-content" [state]="{ skill: 'Physical & Motor' }" class="btn btn-primary d-flex justify-content-center">Physical & Motor Skill</a>
    </div>
  </div>
</div>
