<div class="row">
  <div class="col-sm-12"></div>
</div>
<div class="card card-title text-center">
  <h5>SOCIAL RELATIONSHIP AND RECIPROCITY</h5>
</div>
<section id="ngx">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <form #workForm="ngForm"  novalidate>
          <aw-wizard #wizard [navBarLayout]="'large-filled-symbols'">
            <aw-wizard-step
              [canEnter]="true"
              [canEnter]="true"
              [navigationSymbol]="{ symbol: '1' }"
            >
              <h4 class="head text-center">Has poor eye contact</h4>
              
              
              <p>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                        
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="5"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Always</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                  style="margin-right: 0.5rem"
                  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"


                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()"                  
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step
              [canEnter]="true"
              [canEnter]="true"
              [navigationSymbol]="{ symbol: '2' }"
            >
              <h4 class="head text-center">Lacks social smile</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="5"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Always</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                  style="margin-right: 0.5rem"
                  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"


                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()"                  
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step
              [canEnter]="true"
              [canEnter]="true"
              [navigationSymbol]="{ symbol: '3' }"
            >
              <h4 class="head text-center">Remains aloof</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="5"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Always</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                  style="margin-right: 0.5rem"
                  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"


                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()"                  
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step
              [canEnter]="true"
              [canEnter]="true"
              [navigationSymbol]="{ symbol: '4' }"
            >
              <h4 class="head text-center">Does not reach out to others</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="5"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Always</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                  style="margin-right: 0.5rem"
                  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"


                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()"                  
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step
              [canEnter]="true"
              [canEnter]="true"
              [navigationSymbol]="{ symbol: '5' }"
            >
              <h4 class="head text-center">Unable to relate to people</h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="5"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Always</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                  style="margin-right: 0.5rem"
                  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"


                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()"                  
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step
              [canEnter]="true"
              [canEnter]="true"
              [navigationSymbol]="{ symbol: '6' }"
            >
              <h4 class="head text-center">
                Unable to respond to social/ environmental cues
              </h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="5"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Always</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                  style="margin-right: 0.5rem"
                  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"


                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()"                  
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step
              [canEnter]="true"
              [canEnter]="true"
              [navigationSymbol]="{ symbol: '7' }"
            >
              <h4 class="head text-center">
                Engages in solitary and repetitive play activities
              </h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="5"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Always</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                  style="margin-right: 0.5rem"
                  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"


                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()"                  
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step
              [canEnter]="true"
              [canEnter]="true"
              [navigationSymbol]="{ symbol: '8' }"
            >
              <h4 class="head text-center">
                Unable to take turns in social interaction
              </h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="5"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Always</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                  style="margin-right: 0.5rem"
                  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"


                  type="button"
                  class="btn btn-info"
                  [disabled]="!workForm.valid"
                  (click)="increment()"                  
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step
              [canEnter]="true"
              [canEnter]="true"
              [navigationSymbol]="{ symbol: '9' }"
            >
              <h4 class="head text-center">
                Does not maintain peer relationships
              </h4>
              <br />
              <div class="row justify-content-center">
                <div class="col-2">
                  <div class="form-group">
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline1"
                        name="work"
                        class="form-check-input"
                        [value]="1"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        >Rarely</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline2"
                        name="work"
                        class="form-check-input"
                        [value]="2"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Sometimes</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="3"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Frequently</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="4"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Mostly</label
                      >
                    </div>
                    <div class="custom-control custom-radio m-0">
                      <input
                        type="radio"
                        #work
                        required
                        checked="checked"
                        [(ngModel)]="value"
                        id="customRadioInline3"
                        checked
                        name="work"
                        class="form-check-input"
                        [value]="5"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline3"
                        >Always</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <!-- <button
                  uiSref="personal"
                  type="button"
                  class="btn btn-secondary mr-1"
                  style="margin-right: 0.5rem"
                  awPreviousStep
                >
                  <span style="margin-right: 10px">
                    <i class="ft-chevron-left"></i>
                  </span>
                  Previous
                </button> -->
                <button
                  uiSref="address"

                  type="button"
                  class="btn btn-info"
                  routerLink="/assessments/assessment2"
                  
                  [disabled]="!workForm.valid"
                  
                  (click)="increment()" 
                  (click)="PostScore()"                 
                  awNextStep
                >
                  Next
                  <span style="margin-left: 10px">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </form>
        
      </div>
    </div>
  </div>
</section>
