$primary-color: #556ee6;

.form-select {
  border: 1px solid $primary-color;
}
.card {
  margin-bottom: 0px;
  border-radius: 5px;
}
.col-lg-6 {
  margin-bottom: 20px;
}
.col-lg-4 {
  padding: 20px;
}
.bg-primary {
  border-radius: 5px 5px 0px 0px; 
}