<div class="row">
    <div class="col-xl-6 offset-xl-3">
        <div class="card">
            <div class="card-body">
                <form #form='ngForm' (ngSubmit)="VerifyOtp()">

                    <h1 class="title">OTP Verification</h1>

                    <div class="input-div one">
                       
                        <!-- <div class="div">
                            <input [disabled]="true" type="text" class="input" placeholder="Email" [(ngModel)]="email"
                                name="email">
                            <br>
                            <br>

                        </div> -->
                    </div>
                    <div class="input-div one">
                       
                        <div class="div">
                            <input type="password" class="form-control" placeholder="Enter Your OTP" name="otp" [(ngModel)]="otp">
                            <br>
                            <br>

                        </div>

                    </div>

  
                    
                        <button class="btn btn-primary btn-block" value="Change password" type="submit">Submit</button>
                    
                    <div *ngIf="error">
                        <div class="alert">{{error}}</div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>